<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Loki" />
  </extensions>

  <targets>
    <!-- Lokal fil (kan åbnes i bin/Debug/net8.0) -->
    <target name="logfile" xsi:type="File" fileName="bidservice.log" />

    <!-- Console (for docker logs) -->
    <target name="logconsole" xsi:type="Console" />

    <!-- Loki target -->
    <target name="loki" xsi:type="loki" 
            batchSize="200" 
            taskDelayMilliseconds="500" 
            endpoint="http://loki:3100"
            layout="${longdate}|${level:uppercase=true}|${message}${onexception:|${exception:format=type,message,stacktrace}}|source=${logger}">
      <label name="app" layout="bidservice" />
      <label name="server" layout="${hostname:lowercase=true}" />
    </target>
  </targets>

  <rules>
    <!-- Minimum Debug til alle mål -->
    <logger name="*" minlevel="Debug" writeTo="logfile,logconsole,loki" />
  </rules>
</nlog>
